{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block body %}

<section class="mt-6"> 
    <h1 class="title is-2">Project Description</h1>

    <h2 class="title is-3">Introduction</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non venenatis eros. Quisque sagittis condimentum velit sit amet consectetur. Vivamus convallis ac massa non maximus. Vestibulum at lacus elementum, porta nisi non, volutpat velit. Nullam non enim lectus. Donec sed sapien ac ante varius elementum. Suspendisse vestibulum ut neque sit amet sagittis. Curabitur non enim a erat egestas feugiat. In consectetur at nisl eget blandit.

Curabitur sodales tincidunt ex viverra rutrum. Praesent erat lorem, imperdiet vel malesuada vel, molestie consectetur enim. Sed enim nisl, luctus ut dignissim eget, aliquam sit amet nibh. Pellentesque ac ante imperdiet, fringilla leo eu, tincidunt risus. Aliquam erat volutpat. Integer consectetur mi ut auctor pulvinar. Aliquam tempor lobortis odio, eget dictum nibh porta vel. Nulla urna nisi, sodales eget orci et, bibendum porttitor arcu.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non venenatis eros. Quisque sagittis condimentum velit sit amet consectetur. Vivamus convallis ac massa non maximus. Vestibulum at lacus elementum, porta nisi non, volutpat velit. Nullam non enim lectus. Donec sed sapien ac ante varius elementum. Suspendisse vestibulum ut neque sit amet sagittis. Curabitur non enim a erat egestas feugiat. In consectetur at nisl eget blandit.

Curabitur sodales tincidunt ex viverra rutrum. Praesent erat lorem, imperdiet vel malesuada vel, molestie consectetur enim. Sed enim nisl, luctus ut dignissim eget, aliquam sit amet nibh. Pellentesque ac ante imperdiet, fringilla leo eu, tincidunt risus. Aliquam erat volutpat. Integer consectetur mi ut auctor pulvinar. Aliquam tempor lobortis odio, eget dictum nibh porta vel. Nulla urna nisi, sodales eget orci et, bibendum porttitor arcu.
    </p>
    
</section>

{% endblock %}
