{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block body %}

<section class="mt-6"> 
    <h1 class="title">Team Members</h1>
    <p>
        This project represents the collective efforts of our dedicated team. Below, you will find descriptions of each team member's contributions and roles
    </p>

    <div class="is-flex mt-6 pl-6 pr-6" style="gap: 50px">
        <!-- Rayman -->
        <div class="card raise">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/assets/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5">Rayman</p>
                  <p class="subtitle is-6">BS. Informatics</p>
                </div>
              </div>
          
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
              </div>
            </div>
        </div>
        <!-- Rishant -->
        <div class="card raise">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/assets/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-5">Rishant</p>
                  <p class="subtitle is-6">MS. Informatics</p>
                </div>
              </div>
          
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
              </div>
            </div>
        </div>
        <!-- Raveena -->
        <div class="card raise">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/assets/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Raveena</p>
                  <p class="subtitle is-6">MS. Informatics</p>
                </div>
              </div>
          
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris.
              </div>
            </div>
        </div>
        <!-- Sujatro Ghosh -->
        <div class="card raise">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://bulma.io/assets/images/placeholders/96x96.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5">Sujatro Ghosh</p>
                <p class="subtitle is-6">MS. Visual Computing</p>
              </div>
            </div>
        
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
              iaculis mauris.
            </div>
          </div>
      </div>
      <!-- Abdul Wahab -->
      <div class="card raise">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  src="https://bulma.io/assets/images/placeholders/96x96.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5">Abdul Wahab</p>
              <p class="subtitle is-6">MS. Informatics</p>
            </div>
          </div>
      
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
            iaculis mauris.
          </div>
        </div>
    </div>
    </div>
    
    
</section>

{% endblock %}
